// Mixins in here
.link-reset(@color) {
  text-decoration: none;
  list-style-type: none;
  color: @color;
}

.flexy(
  @disp: flex,
  @dir: null,
  @wrap: null,
  @just: null,
	@ai: null) {
  display: @disp;
  flex-direction: @dir;
  flex-wrap: @wrap;
  justify-content: @just;
	align-items: @ai;

}

.btn-styles(@background-color: #16A2B8, @font-color: #fff, @width, @height ){
  background-color: @background-color;
  color: @font-color;
  width: @width;
  height: @height;
  border-radius: 15px;
  font-size: 2rem;
}

.center() {
  margin: 0 auto;
}
