// Navigation Styles here
.navigation {
  .flexy(flex, column, null, space-between, center);
  height: 6rem;
  h1 {
    font-size: 3rem;
  }
}
nav {
  width: 100%;
  .flexy(flex, row, null, space-around, center);
  a {
    .link-reset(#000);
    font-size: 1.6rem;
    }
  }



.chromeperfectpixel-overlay {
  width: 500px !important;
  height: auto !important;
}
